{% extends 'base.html' %} {% block content %}
<title>О нас</title>
<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/about.css') }}"
  />
</head>
<body>
  <div class="container">
    <div class="about-us">
      <h1>О нас</h1>
      <p>
        Добро пожаловать на наш сайт! Мы — команда профессионалов, стремящаяся
        предоставить вам лучшие услуги и продукты. Наша миссия — удовлетворить
        потребности наших клиентов и превзойти их ожидания.
      </p>
      <p>
        Мы гордимся нашим опытом и знаниями в нашей области. Наша команда
        состоит из экспертов, которые постоянно работают над улучшением наших
        услуг и продуктов, чтобы вы могли получить максимальную пользу.
      </p>
    </div>
    <div class="content-wrapper">
      <div class="team">
        <h2>Наша команда</h2>
        <div
          class="team-member"
          data-name="Иван Иванов"
          data-role="Я всегда был увлечен лидерством и управлением. С самого детства я проявлял необычайные способности к решению сложных задач и организации мероприятий. В школе я был капитаном футбольной команды и председателем школьного совета. Мое умение принимать решения и мотивировать окружающих сделало  меня лидером среди сверстников.

После окончания школы я поступил в престижный университет, где изучал менеджмент и экономику. Мои академические успехи и активное участие в студенческих организациях привлекли внимание преподавателей и работодателей. После университета я начал карьеру в крупной корпорации, где быстро поднялся по карьерной лестнице благодаря своим лидерским качествам и умению управлять командой.

Сегодня я являюсь генеральным директором нашей компании. Я умело руковожу командой, вдохновляя сотрудников на достижение новых высот. Мое стратегическое мышление и способность принимать взвешенные решения помогают компании успешно развиваться и достигать поставленных целей. Я горжусь тем, что могу вносить значительный вклад в успех компании и помогать своей команде расти и развиваться."
        >
          <img
            src="{{ url_for('static', filename='images/men_1.jpg') }}"
            alt="boss"
          />
          <div class="info">
            <h3>Иван Иванов</h3>
            <p>Генеральный директор</p>
          </div>
        </div>
        <div
          class="team-member"
          data-name="Мария Петрова"
          data-role="Я с детства была увлечена коммуникацией и взаимодействием с людьми. Я всегда была душой компании, организовывала школьные мероприятия и участвовала в театральных постановках. Моя общительность и харизма делали меня любимицей среди одноклассников и учителей.

После школы я поступила в университет, где изучала маркетинг и рекламу. Мой талант к коммуникации и умение убеждать людей быстро привлекли внимание преподавателей и работодателей. Я активно участвовала в студенческих проектах и стажировках, где приобрела ценный опыт в области продаж и маркетинга.

Сегодня я являюсь менеджером по продажам в нашей компании. Я умело управляю процессом продаж, взаимодействую с клиентами и партнерами, и разрабатываю стратегии продвижения продуктов. Моя энергия и энтузиазм помогают ей успешно справляться с задачами и достигать высоких результатов. Я горжусь тем, что могу вносить значительный вклад в успех компании и помогать клиентам находить лучшие решения для их потребностей."
        >
          <img
            src="{{ url_for('static', filename='images/woman.jpg') }}"
            alt="marketing"
          />
          <div class="info">
            <h3>Мария Петрова</h3>
            <p>Менеджер по продажам</p>
          </div>
        </div>
        <div
          class="team-member"
          data-name="Алексей Сидоров"
          data-role="Я с детства был увлечен технологиями и программированием. Я всегда любил разбирать и собирать различные устройства, а также писать простые программы на компьютере. В школе я активно участвовал в олимпиадах по информатике и программированию, где неоднократно занимал призовые места.

После школы я поступил в технический университет, где изучал компьютерные науки и программирование. Мой талант и упорство помогли мне успешно завершить обучение и получить диплом с отличием. Я активно участвовал в студенческих проектах и хакатонах, где приобрел ценный опыт в разработке программного обеспечения.

Сегодня я являюсь разработчиком в нашей компании. Я умело разрабатываю и внедряю новые технологии, создаю инновационные решения и оптимизирую существующие системы. Моя страсть к программированию и стремление к совершенству помогают мне успешно справляться с задачами и достигать высоких результатов. Я горжусь тем, что могу вносить значительный вклад в успех компании и помогать создавать продукты, которые улучшают жизнь людей."
        >
          <img
            src="{{ url_for('static', filename='images/men_2.jpg') }}"
            alt="razrab"
          />
          <div class="info">
            <h3>Алексей Сидоров</h3>
            <p>Разработчик</p>
          </div>
        </div>
      </div>
      <div class="map">
        <h2>Мы на карте</h2>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.694243358203!2d37.61765431605016!3d55.75180398054399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b4a1b9a9b9b%3A0xb5a9b9b9b9b9b9b9!2z0J3RjNGOLdCZ0LjRgNCw0YHRjCwgMTIzLCDQodCw0YDQvtC90YIsINCj0LrRgNCw0LjRgA!5e0!3m2!1sru!2sru!4v1634587667747!5m2!1sru!2sru"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="contacts">
        <h2>Контакты</h2>
        <p>Адрес: ул. Примерная, 123, г. Примерск, 123456</p>
        <p>Телефон: +7 (123) 456-78-90</p>
        <p>Email: info@example.com</p>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="modalName"></h2>
      <p id="modalRole"></p>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/about.js') }}"></script>
</body>
{% endblock %}
