{% extends 'base.html' %} {% block content %}
<title>Вакансии</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vacancies.css') }}">
</head>
<body>
  <div class="container">
    <div class="job-listing">
      <h2 class="job-title">Курьер</h2>
      <p class="job-description">
        Ответственность за своевременную доставку заказов клиентам. Требуется
        наличие транспортного средства и водительских прав.
      </p>
      <a href="{{ url_for('resume') }}" class="apply-button">Откликнуться</a>
    </div>
    <div class="job-listing">
      <h2 class="job-title">Менеджер по работе с клиентами</h2>
      <p class="job-description">
        Обработка заказов, взаимодействие с клиентами по телефону и через
        мессенджеры. Опыт работы в сфере обслуживания клиентов приветствуется.
      </p>
      <a href="{{ url_for('resume') }}" class="apply-button">Откликнуться</a>
    </div>
    <div class="job-listing">
      <h2 class="job-title">Повар</h2>
      <p class="job-description">
        Приготовление блюд по меню, контроль качества продуктов. Опыт работы на
        кухне обязателен.
      </p>
      <a href="{{ url_for('resume') }}" class="apply-button">Откликнуться</a>
    </div>
  </div>
</body>
{% endblock %}
